.basket-container:hover{
    .dropdown-menu{
        display: block;
        right: 0;
        left: auto;
        .fa-remove{
            cursor: pointer;
        }
    }
};
.fa-shopping-basket{
    margin: 8px 0;
}
.empty{
    color: rgba(255, 255, 255, 1);
};
@media screen and (max-width: "520px"){
    .basket-container:hover{
        .dropdown-menu{
            right: -8rem;
            left: auto;
        };
        .dropdown-menu.auth-menu{
            right: -5rem;
            left: auto;
        }
    }
}
@media screen and (max-width: "400px"){
    .basket-container:hover{
        .dropdown-menu{
            right: -11rem;
            left: auto;
        }
        .dropdown-item{
            padding: 4px 12px;  
        }
    }
}