.basket-container:hover{
    .dropdown-menu{
        display: block;
        .fa-remove{
            cursor: pointer;
        }
    }
};
.fa-shopping-basket{
    margin: 8px 0;
}
.empty{
    color: rgba(255, 255, 255, 1);
};