<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h2 class="card-title">
          About Book store:
        </h2>
        <h5 class="card-subtitle mb-2 text-muted">
          This is a single page application, wich was built for practise with Angular, Google Firebase and TypeScript.
        </h5>
        <article class="card-text">
          <p>This app consist of <b>client</b> and <b>admin</b> parts. When you enter to the app first, 
          you can use it as a client. In this case, the home page (with the items (books)) and about page (current page)
          will be available to you. On the home page you can select items which you whant to buy and add them to a basket.
          Then you can go to the basket and make you purchase.</p>
          <p>If you want, you can go to the registration page and register in the application. In this case, you will enter to 
          application as an administrator and you will have access to the panel page (with items), where you can add/delete/edit items, 
          change currency and find items by selector. In administrator mode you will also have access to orders pages, where you can view all orders and process them.</p>
          <p>Due to use Google Firebase, all data (items, purchase and users registration informstions) are saved in database.</p>
        </article>
      </div>
    </div>
  </div>
</div>