<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-1">
  <div class="brand-navBtn-block">
    <a routerLink="" class="navbar-brand brand-on-lg">Book store</a>
    <a routerLink="" class="navbar-brand brand-on-sm">BS</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation" 
            (click)="changeBtn()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="action-basket-block">
    <span class="user-name ml-auto navbar-text mr-3">{{ userName }}</span>
    <div class="navbar-text mr-1 mr-sm-3 basket-container" *ngIf="isPublic">
      <app-basket></app-basket>
    </div>
    <button class="btn btn-danger" *ngIf="isLogin" (click)="logout()">Logout</button>
    <a routerLink="/login" class="btn btn-warning" *ngIf="!isLogin">Login</a>
    <a routerLink="/registration" class="reg-btn btn btn-success ml-1 ml-sm-3" *ngIf="!isLogin">Registration</a>
  </div>
  <div class="collapse navbar-collapse" 
       id="navbarNav" 
       [class.show]="showNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="changeBtn()">Home</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" routerLink="/panel" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="changeBtn()">Panel</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="changeBtn()">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="changeBtn()">About</a>
      </li>
    </ul>
  </div>
</nav>
