.container{
    display: flex;
    flex-wrap: wrap;
    .card-header{
        font-weight: bold;
    }
    .btn{
        width: 100%;
    }
    .count{
        max-width: 100px;
        width: 100%;
        padding: 0.75rem 0;
    }
    .fa-remove{
        cursor: pointer;
    }
    .table{
        margin-bottom: 0;
        td, th{
          vertical-align: middle  
        }
    }
}
