.container{
    display: flex;
    flex-wrap: wrap;
    .card-header{
        font-weight: bold;
    }
    .btn{
        width: 100%;
    }
    .count{
        .form-control{
            max-width: 50px;
            width: 100%;
            padding: 0.75rem 0;
            text-align: center;
        }
    }
    .fa-remove{
        cursor: pointer;
    }
    .table{
        margin-bottom: 0;
        td, th{
          vertical-align: middle  
        }
    }
}
@media screen and (max-width: "1000px"){
    .table{
        font-size: 0.7rem;
        th, td{
            padding: 0.25rem;
        };
        .form-control{
            font-size: 0.8rem;
        }
    }
}