.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .count{
        max-width: 80px;
        width: 100%;
    }
    .checkoutBtn{
        margin-left: auto;
    }
    .fa-remove{
        cursor: pointer;
    }
    .alert-message{
        color: red;
        font-size: 12px;
        text-align: right;
    }
    .backToBasketBtn{
        color: #fff;
    }
}
@media screen and (max-width: "500px"){
    .table{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: "500px"){
    .table th, table td{
        padding: 4px;
        vertical-align: middle;
    }
}